/* FONT FAMILY LINK  */
@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Josefin+Sans:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

/* FONT FAMILY  */
.ff_josefin {
  font-family: "Josefin Sans", sans-serif;
}
.ff_playfair {
  font-family: "Playfair Display", serif;
}
.ff_chonburi {
  font-family: "Chonburi", serif;
}
html,
body {
  transition: all 0.2s ease-in;
  overflow-x: hidden !important;
}
/* CONTAINER  */
.custom_container {
  max-width: 1140px !important;
  margin: 0 auto;
}
/* ROOT  */
:root {
  --fs-xsm: 12px;
  --fs-xs: 16px;
  --fs-sm: 18px;
  --fs-2sm:20px;
  --fs-md: 24px;
  --fs-lg: 30px;
  --fs-xl: 36px;
  --fs-2xl: 48px;
  --fs-3xl: 50px;
  --lightblack: #0f0f10;
  --greenblue: #27a099;
  --gray: #d9d9d9;
  --extragray:#3F3F46;
  --darkgray: #595959;
}
/* FONT SIZE  */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_xs {
  font-size: var(--fs-xs);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_2sm {
  font-size: var(--fs-2sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}

/* COLOR  */
.color_lightblack {
  color: var(--lightblack);
}
.color_greenblue {
  color: var(--greenblue);
}
.color_gray {
  color: var(--gray);
}
.color_darkgray {
  color: var(--darkgray);
}
.bg_extragray{
  background-color: var(--extragray);
}

/* MEDIA SCREENS  */
@media (max-width: 1200px) {
  :root {
    --fs-xs: 16px;
    --fs-sm: 18px;
    --fs-md: 24px;
    --fs-lg: 28px;
    --fs-xl: 36px;
    --fs-2xl: 48px;
    --fs-3xl: 50px;
  }
  .custom_container {
    max-width: 1140px !important;
    margin: 0 auto;
    padding: 0 12px;
  }
}
@media (max-width: 1024px) {
  :root {
    --fs-xs: 16px;
    --fs-sm: 18px;
    --fs-md: 24px;
    --fs-lg: 24px;
    --fs-xl: 32px;
    --fs-2xl: 42px;
    --fs-3xl: 50px;
  }
  .custom_container {
    max-width: 1140px !important;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-xs: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 22px;
    --fs-xl: 28px;
    --fs-2xl: 38px;
    --fs-3xl: 40px;
  }
  .custom_container {
    max-width: 1140px !important;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 24px;
    --fs-2xl: 32px;
    --fs-3xl: 30px;
  }
  .custom_container {
    max-width: 1140px !important;
    margin: 0 auto;
  }
}
